backcall==0.1.0
certifi==2020.4.5.1
conda-pack==0.4.0
cycler==0.10.0
decorator==4.4.2
h5py==2.10.0
ipykernel==5.2.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.16.0
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
matplotlib==3.0.0
numpy==1.18.2
opencv-python==4.2.0.34
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==1.0.18
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pyzmq==19.0.0
scipy==1.4.1
seaborn==0.10.0
simplegeneric==0.8.1
six==1.14.0
torch==1.4.0
torchvision==0.5.0
tornado==4.5
traitlets==4.3.3
wcwidth==0.1.9
h5py==2.10.0
